.sidebar {
  top: 0;
  left: 0;
  width: 10%;
  min-width: 50px;
  height: 100vh;
  background-color: #eeecec;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: left;
  white-space: nowrap;
  overflow-x: hidden;
  border-right: 1px solid #5f5f5f38;
}

/* .sidebar:hover {
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
  width: 10%;
} */



.sidebarItem {
  background-color: #bdc8ff6c;
  height: 40px;
  width: 100%;
  display: flex;
  flex: column;
  align-items: center;
  padding-left: 15%;
  border-top: 1px solid #bdc8ff6c;
  border-bottom: 1px solid #bdc8ff6c;
  margin-bottom: 20px;
}

.sidebarItemIcon {
  height: 30px;
  width: 30px;
  margin-right: 5%;

}

.sidebarItem:hover {
  background-color: #a8ceff;
  color: #3250a1;
  border-top: 1px solid #5f5f5f38;
  border-bottom: 1px solid #5f5f5f38;
}

.sidebarItemLabel {
  font-weight: 600;
  font-size: 24px;
  color: #494949
}

.sidebarBrand {
  height: 60px;
  justify-self: center;
  align-self: center;
}