.itemPage {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.regionSidebar {
  z-index: 1;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.regionContent {
  display: flex;
  flex-direction: column;
}

.regionMain {
  padding: 20px;
  margin-left: 10%;
  margin-top: 60px;
}

.regionNav {
  position: fixed;
  width: 100%;
  z-index: 0;
}

