.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form h2,
.exitIcon {
  color: #2e2e2e;
}

.exitIcon:hover {
  cursor: pointer;
}

.form label {
  font-size: 14px;
  font-weight: 700;
  color: #494949;
}

.form label span {
  color: #ff0000;
}

.form input[type=text], 
.form textarea {
  font-family: 'Roboto';
  font-size: 14px;
  width: 100%;
  margin: 4px 0 16px;
  background-color: #ececec;
  padding: 12px 20px;
  border: 2px solid #5f5f5f2c;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.form input[type=text]:focus,
.form textarea:focus {
  background-color: #ffffff;
  border: 2px solid #bdc8ff;
}

.selectGroup {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.form select {
  color: #494949;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  width: 20%;
  margin: 4px 0 16px;
  background-color: #ececec;
  padding: 3px 6px;
  border: 2px solid #5f5f5f2c;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  gap: 30px;
}

.buttonGroup button {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  width: 10%;
  background-color: #4c6faf;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.buttonGroup div:hover {
  cursor: pointer;
  text-decoration: underline;
}
