.item {
  font-family: 'Roboto';
  background-color: #6d6d6d;
  height: 80px;
  border: 2px solid rgb(175, 175, 175);
  margin: 1.5rem 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.itemLabel {
  color: #ffffff;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.itemDesc {
  color: #dddddd;
  line-height: 1em;
  height: 2em;
  overflow: hidden;
}